.main-heading {
  text-align: center;
  margin-top: 30px;
  font-size: 40px;
  background-color: white;
  color: var(--main-color);
  width: 250px;
  margin: 20px auto;
  padding: 10px 20px;
  border-radius: 20px;
  position: relative;
  z-index: 101;
  transition: 0.6s;
}
.main-heading:hover {
  box-shadow: 0 0 20px white;
}

.circle {
  position: absolute;
  width: 450px;
  height: 450px;
  border-radius: 50%;
  background-color: #6f00a3;
  box-shadow: 0 0 10px white;
}
@media (max-width: 991px) {
  .circle {
    width: 350px;
    height: 350px;
  }
}
@media (max-width: 767px) {
  .circle {
    width: 250px;
    height: 250px;
  }
}
.circle.c-one {
  top: 43%;
  left: 0;
  animation: light 5s linear infinite;
}
.circle.c-two {
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  animation: light 5s linear infinite;
}
.circle.c-three {
  top: 43%;
  right: 0;
  animation: light 5s linear infinite;
}
.circle.c-four {
  top: 10%;
  right: -450px;
  animation: move-c-four 30s linear infinite;
  animation-delay: 1s;
}
.circle.c-five {
  top: 50%;
  right: -450px;
  animation: move-c-five 30s linear infinite;
}
.circle.c-six, .circle.c-seven {
  animation: fade 60s linear infinite;
}
.circle.c-six {
  top: 20%;
  right: 10%;
}
.circle.c-seven {
  top: 50%;
  right: 60%;
}
.circle.c-eight {
  top: 6%;
  right: 10%;
  animation: rotate 10s linear infinite;
}
.circle.c-nine {
  top: 30%;
  right: 60%;
  animation: rotate 10s linear infinite;
}

/*Start Animation*/
@keyframes light {
  0% {
    box-shadow: 0 0 10px white;
  }
  50% {
    box-shadow: 0 0 0 transparent;
  }
  100% {
    box-shadow: 0 0 10px white;
  }
}
@keyframes open-img {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes move-c-four {
  0% {
    top: 10%;
    right: -450px;
  }
  25% {
    top: 30%;
    right: 50%;
  }
  50% {
    top: 10%;
    right: 100%;
  }
  75% {
    top: 30%;
    right: 50%;
  }
  100% {
    top: 10%;
    right: -450px;
  }
}
@keyframes move-c-five {
  0% {
    top: 50%;
    right: -450px;
  }
  25% {
    top: 30%;
    right: 50%;
  }
  50% {
    top: 50%;
    right: 100%;
  }
  75% {
    top: 30%;
    right: 50%;
  }
  100% {
    top: 50%;
    right: -450px;
  }
}
@keyframes fade {
  0% {
    width: 450px;
    height: 450px;
  }
  50% {
    width: 0px;
    height: 0px;
  }
  100% {
    width: 450px;
    height: 450px;
  }
}
@keyframes rotate {
  0% {
    transform: rotateY(0deg);
  }
  25% {
    transform: rotateY(90deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  75% {
    transform: rotateY(90deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
/*End Animation*/
:root {
  --main-color: #6f00a3;
  --section-padding: 70px;
  --main-transition: 0.8s;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/*Start Global Rules*/
body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /* small */
  /* medium */
  /* large */
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

ul {
  list-style: none;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 25%;
  z-index: 100;
  top: 0;
  left: 0;
}

/*End Global Rules*/
/*Start Header*/
header {
  position: fixed;
  z-index: 1000;
  background-color: #53007a;
  width: 100%;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  header .container {
    flex-direction: column;
  }
}
header .container .logo {
  margin-left: 30px;
}
@media (max-width: 767px) {
  header .container .logo {
    margin-left: 0;
  }
  header .container .logo a {
    font-size: 30px !important;
  }
}
header .container .logo a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 40px;
}
header .container .links {
  padding: 30px 40px;
  display: flex;
  margin-left: 40px;
  background-color: var(--main-color);
  z-index: 101;
  border-radius: 40px;
}
@media (max-width: 767px) {
  header .container .links {
    padding: 25px 15px;
    margin-left: 0;
  }
  header .container .links li {
    margin-right: 10px !important;
  }
  header .container .links li a {
    font-size: 15px !important;
  }
}
header .container .links li {
  margin-right: 20px;
}
header .container .links li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

/*End Header*/
/*Start Landing*/
.landing {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: var(--main-color);
}
.landing .intro-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 101;
  text-align: center;
}
@media (max-width: 767px) {
  .landing .intro-text {
    width: 100%;
  }
  .landing .intro-text h2 {
    font-size: 25px !important;
  }
  .landing .intro-text p {
    font-size: 16px !important;
    line-height: 1.7;
  }
}
.landing .intro-text h2 {
  font-size: 35px;
  transition: transform var(--main-transition);
}
.landing .intro-text p {
  font-size: 20px;
  transition: transform var(--main-transition);
}

/*End Landing*/
/*Start About*/
.about {
  position: relative;
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.about .container {
  display: flex;
}
@media (max-width: 991px) {
  .about .container {
    flex-direction: column-reverse;
  }
}
.about .container .info {
  flex: 1;
  text-align: center;
  margin: auto 20px auto 0;
  transform: translate(-1000px);
  transition: transform var(--main-transition), opacity var(--main-transition);
  opacity: 0;
}
.about .container .info h3 {
  font-size: 30px;
  margin: 0;
}
.about .container .info p {
  line-height: 1.7;
  font-size: 18px;
  margin: 10px;
  color: #3e3d3d;
}
.about .container .img-holder {
  width: 50%;
  margin: 40px auto;
  transform: translate(1000px);
  transition: transform var(--main-transition), opacity var(--main-transition);
  opacity: 0;
}
.about .container .img-holder img {
  width: 100%;
  height: 100%;
  transform: scale(1);
  animation: open-img 5s linear infinite;
}
.about.active-section .info,
.about.active-section .img-holder {
  transform: translate(0);
  opacity: 1;
}

/*End About*/
/*Start Services*/
.services {
  position: relative;
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--main-color);
  overflow: hidden;
}
.services .container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  z-index: 101;
  margin: auto;
  transform: translateY(500px);
  opacity: 0;
  transition: transform var(--main-transition), opacity var(--main-transition);
}
.services .container .serv-box {
  background-color: white;
  margin: 20px;
  border-radius: 25px;
  padding: 10px;
  transition: var(--main-transition);
}
.services .container .serv-box .img-holder {
  width: 200px;
  height: 200px;
  margin: 0px auto 20px;
  position: relative;
}
.services .container .serv-box .img-holder img {
  width: 200px;
}
.services .container .serv-box .info-box {
  margin: 10px;
}
.services .container .serv-box .info-box h3 {
  margin: 10px 0;
  color: var(--main-color);
}
.services .container .serv-box .info-box p {
  margin: 0;
  color: #3e3d3d;
  line-height: 1.6;
}
.services .container .serv-box:hover {
  box-shadow: 0 0 20px white;
  transform: translateY(-10px);
}
.services.active-section .container {
  transform: translate(0);
  opacity: 1;
}

/*End Services*/
/*Start Testimonials*/
.testimonials {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  height: 50vh;
  margin-bottom: 25px;
  position: relative;
  overflow: hidden;
  transform: translateX(1000px);
  opacity: 0;
  transition: transform var(--main-transition), opacity var(--main-transition);
}
.testimonials .container .testi-boxes {
  display: flex;
}
.testimonials .container .testi-boxes .testi-box {
  text-align: center;
  background-color: var(--main-color);
  padding: 20px;
  border-radius: 20px;
  left: 50%;
  position: absolute;
  transition: var(--main-transition);
  opacity: 0;
}
@media (max-width: 767px) {
  .testimonials .container .testi-boxes .testi-box {
    width: 80%;
  }
}
.testimonials .container .testi-boxes .testi-box.active {
  opacity: 1;
  transform: translateX(-50%);
}
.testimonials .container .testi-boxes .testi-box .testi-info h3 {
  color: white;
}
.testimonials .container .testi-boxes .testi-box .testi-info p {
  color: white;
  line-height: 1.6;
}
.testimonials.active-section {
  transform: translate(0);
  opacity: 1;
}

/*End Testimonials*/
/*Start Pricing*/
.pricing {
  position: relative;
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--main-color);
  transform: translateY(500px);
  opacity: 0;
  transition: transform var(--main-transition), opacity var(--main-transition);
}
.pricing .container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  margin-top: 50px;
  z-index: 101;
}
.pricing .container .pricing-box {
  background-color: white;
  margin: 10px;
  padding: 20px 0;
  border-radius: 20px;
  transition: var(--main-transition);
}
.pricing .container .pricing-box:hover {
  box-shadow: 0 0 20px white;
  transform: translateY(-10px);
}
.pricing .container .pricing-box h3 {
  text-align: center;
}
.pricing .container .pricing-box .img-holder {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pricing .container .pricing-box .pricing-info {
  display: flex;
  flex-direction: column;
}
.pricing .container .pricing-box .pricing-info .price-span {
  color: var(--main-color);
  font-weight: bold;
  font-size: 40px;
  margin: 20px;
  text-align: center;
}
.pricing .container .pricing-box .pricing-info .per-month {
  color: #3e3d3d;
  text-align: center;
  font-size: 16px;
  margin-bottom: 20px;
}
.pricing .container .pricing-box .pricing-info ul {
  margin: 0;
  padding: 0;
}
.pricing .container .pricing-box .pricing-info ul li {
  color: black;
  position: relative;
  display: block;
  padding: 20px 10px;
  font-size: 18px;
}
.pricing .container .pricing-box .pricing-info ul li:not(:last-of-type) {
  border: 1px solid #eee;
}
.pricing .container .pricing-box .pricing-info a {
  display: block;
  border: 2px solid var(--main-color);
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  margin: 30px auto 40px;
  padding: 15px 20px;
  border-radius: 6px;
  color: var(--main-color);
  font-weight: bold;
  transition: var(--main-transition);
  text-decoration: none;
}
.pricing .container .pricing-box .pricing-info a:hover {
  background-color: var(--main-color);
  color: white;
}
.pricing.active-section {
  transform: translate(0);
  opacity: 1;
}

/*End Pricing*/
/*Start Contact*/
.contact .contact-boxes {
  background-color: white;
  padding: 20px;
  color: var(--main-color);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  border-radius: 20px;
  transform: translateX(-1000px);
  opacity: 0;
  transition: transform var(--main-transition), opacity var(--main-transition);
}
.contact .contact-boxes div {
  position: relative;
  padding: 10px 20px;
  text-align: center;
  color: #3e3d3d;
}
@media (min-width: 991px) {
  .contact .contact-boxes div {
    margin-right: 30px;
  }
}
.contact .contact-boxes div .img-holder {
  margin: 0;
}
.contact .contact-boxes div h3 {
  color: var(--main-color);
}
@media (min-width: 1200px) {
  .contact .contact-boxes div:not(:last-of-type)::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -20px;
    height: 150px;
    width: 1px;
    background-color: #eee;
  }
}
.contact .contact-boxes div.address-box, .contact .contact-boxes div.phone-box, .contact .contact-boxes div.email-box {
  display: flex;
  flex-direction: column;
}
.contact .contact-boxes div.address-box span, .contact .contact-boxes div.phone-box span, .contact .contact-boxes div.email-box span {
  margin: 10px 0;
}
.contact .contact-boxes div.email-box a {
  text-decoration: none;
  color: #3e3d3d;
}
.contact footer {
  background-color: var(--main-color);
  height: 100%;
  color: white;
  padding: 10px;
  position: relative;
  height: 70vh;
}
.contact footer .text-box {
  position: absolute;
  z-index: 101;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.contact footer .text-box h2 {
  font-size: 40px;
}
.contact footer .text-box p {
  font-size: 20px;
}
@media (max-width: 991px) {
  .contact footer .text-box h2 {
    font-size: 30px;
  }
  .contact footer .text-box p {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .contact footer .text-box h2 {
    font-size: 20px;
  }
  .contact footer .text-box p {
    font-size: 14px;
  }
}
.contact footer .author {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 101;
  padding: 20px 0;
  border-top: 1px solid #eee;
  width: 100%;
  text-align: center;
  font-size: 18px;
}
@media (max-width: 767px) {
  .contact footer .author {
    font-size: 16px;
  }
}
.contact.active-section .contact-boxes {
  transform: translate(0);
  opacity: 1;
}

/*End Contact*/
.scroll-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--main-color);
  color: white;
  width: 50px;
  height: 50px;
  font-size: 40px;
  font-weight: bold;
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: var(--main-transition);
  opacity: 0;
}
.scroll-btn::before {
  content: "";
  position: absolute;
  top: 15px;
  right: 28px;
  background-color: white;
  width: 5px;
  height: 20px;
  transform: rotate(45deg);
}
.scroll-btn::after {
  content: "";
  position: absolute;
  top: 15px;
  left: 28px;
  background-color: white;
  width: 5px;
  height: 20px;
  transform: rotate(-45deg);
}/*# sourceMappingURL=main.css.map */
