<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="./css/normalize.css" />
		<link rel="stylesheet" href="./css/main.css" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"
			rel="stylesheet"
		/>
		<title>Doma</title>
	</head>
	<body>
		<header>
			<div class="container">
				<div class="logo"><a href="#">Doma</a></div>
				<ul class="links">
					<li><a href="#about">About</a></li>
					<li><a href="#services">Services</a></li>
					<li><a href="#testimonials">Testimonials</a></li>
					<li><a href="#pricing">Pricing</a></li>
					<li><a href="#contact">Contact</a></li>
				</ul>
			</div>
		</header>
		<div class="landing">
			<div class="intro-text">
				<h2>Welcome To Our Community</h2>
				<p>We Are Happy To See You Today</p>
			</div>
			<div class="overlay"></div>
			<div class="circle c-one"></div>
			<div class="circle c-two"></div>
			<div class="circle c-three"></div>
		</div>
		<div class="about" id="about">
			<h2 class="main-heading">Who We Are</h2>
			<div class="container">
				<div class="info">
					<h3>We Are A Community Of</h3>
					<p>
						helpful people who want to help you in creating your business with
						modern tools and previous experiences. So what is the creative idea
						you want to start?
					</p>
				</div>
				<div class="img-holder">
					<img src="./images/about.png" alt="" />
				</div>
			</div>
		</div>
		<div class="services" id="services">
			<h2 class="main-heading">Services</h2>
			<div class="overlay"></div>
			<div class="circle c-four"></div>
			<div class="circle c-five"></div>
			<div class="container">
				<div class="serv-box">
					<div class="img-holder">
						<img src="./images/services_1.png" alt="" />
					</div>
					<div class="info-box">
						<h3>Caring for our customers and their ideas</h3>
						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus
							neque nisi sed in esse animi corrupti iusto, doloremque atque
							exercitationem
						</p>
					</div>
				</div>
				<div class="serv-box">
					<div class="img-holder">
						<img src="./images/services_2.png" alt="" />
					</div>
					<div class="info-box">
						<h3>Team Of Experienced Who Can Help You To Grow Your Idea</h3>
						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus
							neque nisi sed in esse animi corrupti iusto, doloremque atque
							exercitationem
						</p>
					</div>
				</div>
				<div class="serv-box">
					<div class="img-holder">
						<img src="./images/services_3.png" alt="" />
					</div>
					<div class="info-box">
						<h3>24/7 Support</h3>
						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus
							neque nisi sed in esse animi corrupti iusto, doloremque atque
							exercitationem
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="testimonials" id="testimonials">
			<div class="main-heading">Testimonials</div>
			<div class="container">
				<div class="testi-boxes">
					<div class="testi-box">
						<div class="img-holder">
							<img src="./images/testimonials_1.png" alt="" />
						</div>
						<div class="testi-info">
							<h3>Johne due</h3>
							<p>
								Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui
								quo alias, rem obcaecati inventore ullam ducimus fugiat, atque
								hic provident, ipsa esse aliquam quam non accusamus eaque
								facilis! Inventore, praesentium.
							</p>
						</div>
					</div>
					<div class="testi-box active">
						<div class="img-holder">
							<img src="./images/testimonials_2.png" alt="" />
						</div>
						<div class="testi-info">
							<h3>Johne due</h3>
							<p>
								Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui
								quo alias, rem obcaecati inventore ullam ducimus fugiat, atque
								hic provident, ipsa esse aliquam quam non accusamus eaque
								facilis! Inventore, praesentium.
							</p>
						</div>
					</div>
					<div class="testi-box">
						<div class="img-holder">
							<img src="./images/testimonials_3.png" alt="" />
						</div>
						<div class="testi-info">
							<h3>Johne due</h3>
							<p>
								Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui
								quo alias, rem obcaecati inventore ullam ducimus fugiat, atque
								hic provident, ipsa esse aliquam quam non accusamus eaque
								facilis! Inventore, praesentium.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="pricing" id="pricing">
			<div class="main-heading">Pricing</div>
			<div class="overlay"></div>
			<div class="circle c-six"></div>
			<div class="circle c-seven"></div>
			<div class="container">
				<div class="pricing-box">
					<h3>Basic</h3>
					<div class="img-holder">
						<img src="./images/pricing_1.png" alt="" />
					</div>
					<div class="pricing-info">
						<span class="price-span">$15</span>
						<span class="per-month">Per Month</span>
						<ul class="feats">
							<li>Basic Website Host</li>
							<li>5 Email Addresses</li>
							<li>Basic Support</li>
						</ul>
						<a href="#">Choose Plan</a>
					</div>
				</div>
				<div class="pricing-box">
					<h3>Advanced</h3>
					<div class="img-holder">
						<img src="./images/pricing_2.png" alt="" />
					</div>
					<div class="pricing-info">
						<span class="price-span">$25</span>
						<span class="per-month">Per Month</span>
						<ul class="feats">
							<li>Advanced Website Host</li>
							<li>20 Email Addresses</li>
							<li>Advanced Support</li>
						</ul>
						<a href="#">Choose Plan</a>
					</div>
				</div>
				<div class="pricing-box">
					<h3>Professional</h3>
					<div class="img-holder">
						<img src="./images/pricing_3.png" alt="" />
					</div>
					<div class="pricing-info">
						<span class="price-span">$35</span>
						<span class="per-month">Per Month</span>
						<ul class="feats">
							<li>Professional Website Host</li>
							<li>50 Email Addresses</li>
							<li>Professional Support</li>
						</ul>
						<a href="#">Choose Plan</a>
					</div>
				</div>
			</div>
		</div>
		<div class="contact" id="contact">
			<div class="container">
				<div class="contact-boxes">
					<div class="address-box">
						<div class="img-holder">
							<img src="./images/contact_1.png" alt="" />
						</div>
						<h3>Address</h3>
						<span>Office 1: 12 Street Number 12345 Next To Street 123456</span>
						<span>Office 2: 45 Street Number 87686 Next To Street 5756</span>
					</div>
					<div class="phone-box">
						<div class="img-holder">
							<img src="./images/contact_2.png" alt="" />
						</div>
						<h3>phone Numbers</h3>
						<span>Office 1: +20123456789</span
						><span>Office 2: +102030405060</span>
					</div>
					<div class="email-box">
						<div class="img-holder">
							<img src="./images/contact_3.png" alt="" />
						</div>
						<h3>Emails</h3>
						<span
							>Office 1:
							<a href="mailto:Office1@office1.com">Office1@office1.com</a></span
						><span
							>Office 2:
							<a href="mailto:Office2@office2.com">Office2@office2.com</a></span
						>
					</div>
				</div>
			</div>
			<footer>
				<div class="overlay"></div>
				<div class="circle c-eight"></div>
				<div class="circle c-nine"></div>
				<div class="text-box">
					<h2>Feel Free To Imagine, Feel Free To Achieve</h2>
					<p>You Will Imagine And We Will Provide All You Need To Achieve</p>
				</div>
				<div class="author">
					2023 &copy; Doma - Landing Page Created By Adham
				</div>
			</footer>
		</div>
		<div class="scroll-btn"></div>
		<script src="./js/main.js"></script>
	</body>
</html>
